<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cms\Controller\Adminhtml\Block\Save"
                type="Rubenromao\DbSecondTest\Controller\Adminhtml\Block\Save"/>

    <preference for="Magento\Cms\Api\Data\BlockInterface"
                type="Rubenromao\DbSecondTest\Api\Data\BlockInterface"/>

    <preference for="Magento\Cms\Model\Block"
                type="Rubenromao\DbSecondTest\Model\Block"/>

<!--    <preference for="Magento\Cms\Controller\Adminhtml\Page\Save"-->
<!--                type="Rubenromao\DbSecondTest\Controller\Adminhtml\Page\Save"/>-->

<!--    <preference for="Magento\Cms\Api\Data\PageInterface"-->
<!--                type="Rubenromao\DbSecondTest\Api\Data\PageInterface"/>-->

<!--    <preference for="Magento\Cms\Model\Page"-->
<!--                type="Rubenromao\DbSecondTest\Model\Page"/>-->

<!--    <type name="Magento\Cms\Controller\Adminhtml\Block\Save">-->
<!--        <plugin name="rubenromao_dbsecondtest_foo" type="Rubenromao\DbSecondTest\Plugin\Foo"/>-->
<!--    </type>-->
</config>
