<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Page">
        <plugin name="rubenromao_magento2_customer_group_restrict_access_page"
                type="Rubenromao\Magento2CustomerGroupRestrictAccess\Plugin\Magento\Cms\Model\Page"/>
    </type>
    <type name="Magento\Cms\Controller\Adminhtml\Page\Save">
        <plugin name="rubenromao_magento2_customer_group_restrict_access_page_save_admin"
                type="Rubenromao\Magento2CustomerGroupRestrictAccess\Plugin\Magento\Cms\Controller\Adminhtml\Page\Save"/>
    </type>
    <type name="Magento\Cms\Model\Block">
        <plugin name="rubenromao_magento2_customer_group_restrict_access_block"
                type="Rubenromao\Magento2CustomerGroupRestrictAccess\Plugin\Magento\Cms\Model\Block"/>
    </type>
    <type name="Magento\Cms\Controller\Adminhtml\Block\Save">
        <plugin name="rubenromao_magento2_customer_group_restrict_access_block_save_admin"
                type="Rubenromao\Magento2CustomerGroupRestrictAccess\Plugin\Magento\Cms\Controller\Adminhtml\Block\Save"/>
    </type>
</config>
